.shadowSearch {
  box-shadow: rgba(0 0 0 /12%) 0px 2px 12px;
}
.upload {
  .bell-icon {
    cursor: pointer;
    position: relative;
  }
}
body {
  .tippy-box {
    background-color: #545454eb;
    font-size: 14px;
    line-height: 22px;
  }
  .tippy-arrow {
    color: #545454eb;
  }
}
body {
  .header-wrapper {
    font-family: "IBM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC,
      sans-serif;
  }
}
.header-wrapper {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 4%);
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #fff;
  width: 100%;
}
