@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.search-box {
  border: 1px solid transparent;
  background-color: #1618230f;
  position: relative;
  border-radius: 92px;
  .spinnerIcon {
    animation: spinner 0.6s linear infinite;
  }
  .seperate {
    width: 1px;
    height: 28px;
    background-color: #1618231f;
  }
  .btn-search {
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    position: relative;
    &:hover {
      background-color: #eaeaeb;
    }
    &:active {
      background-color: rgba(26, 27, 32, 0.06);
    }
  }
  .input-search:not(:placeholder-shown) ~ .btn-search {
    color: rgba(22, 24, 35, 0.75);
  }
  &:focus-within {
    border: 1px solid rgba(22, 24, 35, 0.2);
  }
  .input-border {
    caret-color: #b5b5b9;
  }
  .input-search {
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    flex: 1;
    font-weight: 400;
    font-family: "IBM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC,
      sans-serif;
  }
  .result-search {
    width: 100%;
    position: absolute;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    max-height: min((100vh - 96px) - 60px, 734px);
    margin-top: 8px;
    top: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 6px;
      background-color: #fff;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 4px;
    }
  }
}
