.sidebar-box {
  max-height: calc(100vh - 100px);
  overflow: auto;
  overscroll-behavior-y: contain;
  padding-top: 20px;
  padding-left: 8px;
  position: fixed;
  li {
    transition: background-color linear 0.2s;
  }
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    border-radius: 4px;
  }
}
.animation:hover {
  transition: linear 0.2s;
}
.active {
  color: #fe2c55;
}
.hashtagItem {
  button {
    transition: background-color 0.1s linear;
  }
}
