@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "IBM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
  /* font-family: "IBM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC,
    sans-serif; */
}

/* font */
@font-face {
  font-family: ProximaNova;
  src: url("./app/assets/fonts/Proxima-Nova-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: ProximaNova;
  src: url("./app/assets/fonts/Proxima-Nova-Regular1.woff2");
  font-weight: 400;
}
@font-face {
  font-family: ProximaNova;
  src: url("./app/assets/fonts/Proxima-Nova-Semibold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: ProximaNova;
  src: url("./app/assets/fonts/ProximaNova-Semibold.woff2");
  font-weight: 700;
}
/* ------------- */

@tailwind base;
@tailwind components;
@tailwind utilities;
